<!-- Icon source: <a href="https://icons8.com/icon/107442/cookie">Cookie icon by Icons8</a> -->
<!-- START Bootstrap-Cookie-Alert -->
<div  [hidden]="bannerHidden" class="alert alert-primary alert-dismissible fade show"  role="alert"
style="width: 100%; position: fixed; bottom: 0;left: 0;z-index: 9999;">
  <h4 class="alert-heading">
    Diese Seite verwendet Cookies. <img src="https://img.icons8.com/color/50/000000/cookie.png"/>
  </h4>
  <p>
    Um Ihnen den bestmöglichen Service zu gewährleisten
    speichert <b>{{applicationName}}</b> personenbezogene Daten.<br/>
    Wenn Sie auf der Seite weitersurfen stimmen Sie
    bitte der <a href="{{policyLink}}">Datenschutz-Richtlinie</a> zu.
  </p>
  <button (click)="onAccept()" type="button" class="btn btn-primary btn-lg">
    Akzeptieren
  </button>
</div>
<!-- END Bootstrap-Cookie-Alert -->
<!--<button (click)="clearLocalStorage()"  type="button">
  Reset
</button>-->
