test above
lorem ipsum <br/>
lorem ipsum <br/>
<app-cookie-consent-banner [applicationName]="title"></app-cookie-consent-banner>
lorem ipsum <br/>
lorem ipsum <br/>
lorem ipsum <br/>
lorem ipsum <br/>
lorem ipsum <br/>
lorem ipsum <br/>
lorem ipsum <br/>
lorem ipsum <br/>
lorem ipsum <br/>
lorem ipsum <br/>
lorem ipsum <br/>
lorem ipsum <br/>
lorem ipsum <br/>
lorem ipsum <br/>
<button (click)="clearLocalStorage()"  type="button">
  Reset
</button>
<br/>
lorem ipsum <br/>

